*{
    font-family: 'Courier New', Courier, monospace;
     
}
 
h1,h3{
    color:#b92b27;
}
 #login{
    background-color: rgb(139, 216, 15);

 }
 #signup{
    background-color:#c5870c;
 }
 .upvote{
    background-color: rgb(26, 191, 117);
 }
 /*descendent selector */
 .post a {
    color: purple; 
    background-color: yellow;
 }

 nav a{
    color:hotpink;
 }

 p + h3{
   text-decoration: underline;
 }

 .upvote + button{
   background-color: cornflowerblue;
   color:darkblue;
 }

 div > input{
   background-color: antiquewhite;
 }

 input[type="text"]{
   color:green;
 }
 input[type="password"]{
   color:red;
 }
 input[type]{
   background-color: ghostwhite;
 }

 button:hover{
   background-color: black;
   color:white;
 }
 h3:hover {
   text-decoration: none;
 }
 button:active {
   background-color: pink;
 }
 p:active{
   font-weight: bold;
   color:green;
 }
 input[type="radio"]:checked + label{
   color:red;
   font-weight:bold;
 }
 div:nth-of-type(2n){
   background-color: blanchedalmond;
 }

 h1::first-letter {
   color: green;
 }

 p::first-line{
   color:red;
 }
 p::selection{
   background-color: rgb(199, 192, 58);
 }

 h3{
  background-color: yellow;
 }
 h3{
  background-color:blueviolet;
 }